version: "3.8"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "5050:5050"

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: "http://backend:5050"
    ports:
      - "3000:80"
    depends_on:
      - backend